<a href="https://colab.research.google.com/github/shivam361v/DSA/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("Enter your name ?");
print("Hello", name);

Enter your name ?shivam
Hello shivam

In [ ]:
age = 24
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [ ]:
ShoppingList = input("Enter item to shop from market");
qty = [1, 2, 3, 4, 5];
name = ("Shivam", "Vishwakarma");
statement = "{} will go to market to buy {}";
for x in qty:
  print(x);
if "Shivam" in name:
  print("Yes, lets go to market");
print( name[1]);
print(name[1].upper());
print(name[0].split('v'));
print(statement.format(name[0], name[1]));

Enter item to shop from marketdfda
1
2
3
4
5
Yes, lets go to market
Vishwakarma
VISHWAKARMA
['Shi', 'am']
Shivam will go to market to buy Vishwakarma

In [ ]:
sum = 10 + 20;
powers = 10 ** 2;
name1 = "shivam";
name2 = "Shivam";
if sum <= powers :
  print('true');
if 's' in name1:
  print("Name contains letter 's' ");
if name1 is name2:

  print("Both names are the same");

true
Name contains letter 's'

In [ ]:
#List in python
l1 = [1, 2, 3, 4, 5];
for i in l1:
  print(i);
l1.append(6);
for i in l1:
  print(i);
l1.clear()
for i in l1:
  print(i);

1
2
3
4
5
1
2
3
4
5
6

In [ ]:
#Tuple in python
l2 = (1, 2, 3, 4);
for i in l2:
  print(i);

l2 = list(l2);
l2[3] = 5;
l2 = tuple(l2);

1
2
3
4

In [ ]:
#Set in python

l3 = {1, 2, 3};
for i in l3:
  print(i);

l3.add(3);

for i in l3:
  print(i);

1
2
3
1
2
3

In [ ]:
# Conditional and loops

numbers = [1, 2, 3 , 4, 5 ];

for i in numbers :
  if i % 2 == 0:
    print("Even");
  else:
    print("Odd");

  if(i == 3):
    continue;
  if(i == 5):
    break;
  print(i);

Odd
1
Even
2
Odd
Even
4
Odd

# New Section

# New Section

In [ ]:
def function():
  print("This is first function");
function()

This is first function

print("Black dove, where are you going ?")

number = 10
type(number)

In [ ]:
number = 10
type(number)

int

In [ ]:
str(number)

'10'

In [ ]:
def greeting(name):
  print("Ram Ram " + name)

def AreaOfTriangele(n1, n2):
  return 0.5 * n1 * n2


greeting('shivam')
AreaOfTriangele(10, 20)

Ram Ram shivam

100.0

In [ ]:
print('cat' < 'dog')

True

In [ ]:
print(1 != "1")

True

In [ ]:
print("Y" > "C " and "B" > "M")

False

In [ ]:
print( not 42 == "Ans")

True

In [ ]:
def do_even(number):
  return 0 == number % 2

do_even(0)

True

In [ ]:
x = 0
while (x < 5):
  #print("x = " + str(x))
  x += 1
  print("x = " + str(x))

x = 1
x = 2
x = 3
x = 4
x = 5

In [ ]:
def to_celsius(temperature):
  return ((temperature - 32) * 5) / 9

for i in range(0, 100, 10):
  print(round(to_celsius(i)), 2)

-18 2
-12 2
-7 2
-1 2
4 2
10 2
16 2
21 2
27 2
32 2

In [ ]:
name = "shivam \n"  #String multiplication
print(name * 5)

shivam
shivam
shivam
shivam
shivam

In [ ]:
for i in name:
  print(i + " \n")

s

h

i

v

a

m

In [ ]:
name.index('s')

0

In [ ]:
name[1]

'h'

In [ ]:
name[-3]

'm'

In [ ]:

print(name[1: 3])

un

In [ ]:
"va" in name

True

In [ ]:
print("my name is {}".format(name))

my name is shivam

In [ ]:
print("i have ${} rupee".format(500))

i have $500 rupee

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
accessories =["bag", "laptop", "phone", "earbuds", "wallet", "speaker", "snacks"]
print(accessories[-1])

snacks

In [ ]:
print(accessories[10])

IndexError: list index out of range

In [ ]:
print(accessories[1: 3])

In [ ]:
print(accessories[:5])

In [ ]:
type(accessories)

In [ ]:
"shoe" in  accessories

In [ ]:
accessories.append("shoes")

In [ ]:
accessories.insert(0, "chocolates")
print(accessories)

In [ ]:
accessories.remove('bag')
print(accessories)

In [ ]:
accessories.pop()
print(accessories)

In [ ]:
accessories[1] = "DarkChocolate"
print(accessories)

In [ ]:
horse_power = "746"
horse_power = horse_power + " watt"
print(horse_power)

In [ ]:
name = ("shivam", "vishwakarma")
print(name)

In [ ]:
contact = name + ("7999", )
print(contact)

In [ ]:
accessories = tuple(accessories)
print(accessories)

In [ ]:
def to_paise(price):
  rupee = int(price // 1)
  paisa = (price % 100)
  return rupee, paisa

In [ ]:
print(to_paise(100.05))

NameError: name 'to_paise' is not defined

In [ ]:
rate_list = {
    "ultra_sonic" : 200,
    "pir" : 150,
    "ardino" : 600,
    "rasbarry_pi" : 5000
}
print(rate_list['pir'])

In [ ]:
print("pir" in rate_list)

In [ ]:
team = {
    ('shivam', 24, 'badminton'),
    ('ajit', 24, 'gym'),
    ('bunty', 26, 'gym')
}

new_team = {}

for name, age, hobby in team:
  if hobby in new_team:
    new_team[hobby].append((name, age))
  else:
    new_team[hobby] = [(name, age)]

print(new_team)

{'badminton': [('shivam', 24)], 'gym': [('ajit', 24), ('bunty', 26)]}

In [ ]:
print(new_team['badminton'])

[('shivam', 24)]

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4])
type(arr)

numpy.ndarray

In [ ]:
import pandas as pd
import numpy as np

data = {
    'planet' : ['mercury', 'venus', 'earth', 'mars'],
    'radius' : [ 2240, 1000, 3000, 5000],
    'moons' : [  1, 1, 80, 83]
}

df = pd.DataFrame(data)
df

    planet  radius  moons
0  mercury    2240      1
1    venus    1000      1
2    earth    3000     80
3     mars    5000     83

In [ ]:
mask = df['moons'] < 20
mask

0     True
1     True
2    False
3    False
Name: moons, dtype: bool

In [ ]:
print(df[df['moons'] < 20])

    planet  radius  moons
0  mercury    2240      1
1    venus    1000      1

In [3]:
Shivam = {
    "Specilization" : "Automation and Robotics",
    "Topic" : "Manipulator",
    "CGPA" : 8.41
}
Shivam.keys()
Shivam.values()

dict_values(['Automation and Robotics', 'Manipulator', 8.41])

In [8]:
shivam_set = {1, 2, 3, 2}
shivam_set
shivam_set.add(5)
shivam_set.clear()
shivam_set

set()

In [9]:
store = {
    "table" : "a piece of furniture",
    "cat" : "a small animal"
}
store

{'table': 'a piece of furniture', 'cat': 'a small animal'}

In [11]:
programming_language = { "c++", "c", "kotlin", "swift", "go"}

{'c', 'c++', 'go', 'kotlin', 'swift'}

In [12]:
course = {"subject_1" : "" , "subject_2" : "", "subject_3" : ""}
for i in course:
  temp = input("Enter your course name : ")
  course[i] = temp
course

Enter your course name : Dynamics
Enter your course name : Manufacturing
Enter your course name : CV

{'subject_1': 'Dynamics', 'subject_2': 'Manufacturing', 'subject_3': 'CV'}

In [21]:
number_1 = 9
number_2 = "9.0"
numbers = {number_1, number_2}
numbers

{9, '9.0'}

In [31]:
number = int(input("Enter an number : "))
for i in range (1, 11):
  print(i * number)
  i += 1

Enter an number : 55
55
110
165
220
275
330
385
440
495
550

In [32]:
l1 = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
for i in  l1:
  print(i)

1
4
9
16
25
36
49
64
81
100

In [36]:
number = int(input("Enter an number to find : "))
for i in l1:
  if(i == number):
    print("Number is avalaible at an index of " + (str)(l1.index(i)))

Enter an number to find : 9
Number is avalaible at an index of 2

In [44]:
def get_size(i):
  return len(i)

def get_variables(i):
  print(i)

def get_factorial(number):
  temp = 1
  for i in range(1, number):
    temp *= i
  return temp

print(get_factorial(10))
#get_variables(l1)

362880

In [10]:
l1 = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

def sum_till(number):
  if(number <= 1):
    return number;
  return number + sum_till(number - 1);

def print_list(l1, number):
  if(number == -1):

  print(l1[number])
  return number + print_list(l1, number - 1)

print_list(l1, 9)

SyntaxError: 'break' outside loop (<ipython-input-10-5579335f1e9f>, line 10)

In [16]:
class students:

 # subject1, subject2, subject3, mark1, mark2, mark3;

  def __init__(self, s1, s2, s3, m1, m2, m3):
    self.subject1 = s1
    self.subject2 = s2
    self.subject3 = s3
    self.mark1 = m1
    self.mark2 = m2
    self.mark3 = m3

  @staticmethod
  def get_average(self):
    return ((self.mark1 + self.mark2 + self.mark3) / 3)

shivam = students("DR", "AM", "CS", 90, 95, 94)
print(shivam.get_average())

TypeError: students.get_average() missing 1 required positional argument: 'self'