<a href="https://colab.research.google.com/github/shivam361v/DSA/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("Enter your name ?");
print("Hello", name);

Enter your name ?Shivam
Hello Shivam

In [ ]:
age = 24
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [ ]:
ShoppingList = input("Enter item to shop from market");
qty = [1, 2, 3, 4, 5];
name = ("Shivam", "Vishwakarma");
statement = "{} will go to market to buy {}";
for x in qty:
  print(x);
if "Shivam" in name:
  print("Yes, lets go to market");
print( name[1]);
print(name[1].upper());
print(name[0].split('v'));
print(statement.format(name[0], name[1]));

Enter item to shop from marketapple banana
1
2
3
4
5
Yes, lets go to market
Vishwakarma
VISHWAKARMA
['Shi', 'am']
Shivam will go to market to buy Vishwakarma

In [ ]:
sum = 10 + 20;
powers = 10 ** 2;
name1 = "shivam";
name2 = "Shivam";
if sum <= powers :
  print('true');
if 's' in name1:
  print("Name contains letter 's' ");
if name1 is name2:

  print("Both names are the same");

true
Name contains letter 's'

In [ ]:
#List in python
l1 = [1, 2, 3, 4, 5];
for i in l1:
  print(i);
l1.append(6);
for i in l1:
  print(i);
l1.clear()
for i in l1:
  print(i);

1
2
3
4
5
1
2
3
4
5
6

In [ ]:
#Tuple in python
l2 = (1, 2, 3, 4);
for i in l2:
  print(i);

l2 = list(l2);
l2[3] = 5;
l2 = tuple(l2);

for i in l2:
  print(i);
del l2;

for i in l2:
  print(i);

1
2
3
4
1
2
3
5

NameError: ignored

In [ ]:
#Set in python

l3 = {1, 2, 3};
for i in l3:
  print(i);

l3.add(3);

for i in l3:
  print(i);

1
2
3
1
2
3

In [ ]:
# Conditional and loops

numbers = [1, 2, 3 , 4, 5 ];

for i in numbers :
  if i % 2 == 0:
    print("Even");
  else:
    print("Odd");

  if(i == 3):
    continue;
  if(i == 5):
    break;
  print(i);

Odd
1
Even
2
Odd
Even
4
Odd

# New Section

# New Section

In [ ]:
def function():
  print("This is first function");
function()

This is first function

print("Black dove, where are you going ?")

number = 10
type(number)

In [ ]:
number = 10
type(number)

int

In [ ]:
str(number)

'10'

In [ ]:
def greeting(name):
  print("Ram Ram " + name)

def AreaOfTriangele(n1, n2):
  return 0.5 * n1 * n2


greeting('shivam')
AreaOfTriangele(10, 20)

Ram Ram shivam

100.0

In [ ]:
print('cat' < 'dog')

True

In [ ]:
print(1 != "1")

True

In [ ]:
print("Y" > "C " and "B" > "M")

False

In [ ]:
print( not 42 == "Ans")

True

In [ ]:
def do_even(number):
  return 0 == number % 2

do_even(0)

True